@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;800&display=swap');
.Student{
    background-color: bisque;
    border-radius: 20px;
    border: 2px solid brown;
    font-family: 'Roboto Slab', serif;
}